<footer>
    <div class="container" data-bs-theme="dark">
        <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-6">
                <div>
                    <h3><img src="./assets/img/logo-banner.png" alt="Logo" /></h3>
                    <p>Game Mania | Sua diversão também é a nossa!</p>
                    <p id="info-cnpj">
                        CNPJ XX.XXX.XXX/XXXX-XX - Todos direitos reservados.
                    </p>
                    <p id="info-inrvl">
                        Preços e condições de pagamento exclusivos para compras via internet
                        e podem variar na loja física. Os preços podem ser alterados sem
                        aviso prévio conforme disponibilidade em estoque. A Game Mania, não
                        é responsável por erros descritivos. As fotos contidas nesta página
                        são meramente ilustrativas do produto e podem variar de acordo com o
                        fornecedor/lote do fabricante. Vendas sujeitas à análise e
                        confirmação de dados.
                    </p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6">
                <div class="">
                    <h5>Links Rápidos</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="inicio" class="text-decoration-none">Home</a>
                        </li>
                        <li>
                            <a routerLink="inicio" class="text-decoration-none">Sobre nós</a>
                        </li>
                        <li>
                            <a routerLink="inicio" class="text-decoration-none">Serviços</a>
                        </li>
                        <li>
                            <a routerLink="inicio" class="text-decoration-none">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6">
                <div>
                    <h5>Endereço</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="inicio" class="text-decoration-none">(11) 99999-9999</a>
                        </li>
                        <br />
                        <li>
                            <a routerLink="inicio"
                                class="text-decoration-none">loja.gamemania@gmail.com</a>
                        </li>
                        <br />
                        <li>
                            <p>
                                Rua 18 de Janeiro, nº 52,<br />Centro, São Paulo/SP<br />CEP
                                XXXXX-XXX
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-6">
                <div>
                    <h5>Rede Sociais</h5>
                    <ul class="list-unstyled rede-sociais">
                        <li class="rs-icon">
                            <a routerLink="inicio"><img src="./assets/img/logo-face.png"
                                    alt="Facebook" /></a>
                        </li>
                        <li class="rs-icon">
                            <a routerLink="inicio"><img src="./assets/img/logo-insta.png"
                                    alt="Instagram" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="copyright">
                <p>
                    Desenvolvido por
                    <a routerLink="inicio" target="_blank">Everton A.</a>
                </p>
            </div>
        </div>
    </div>
</footer>