#section-login {
    margin-top: 100px;
}

#section-login h1 {
    text-align: center;
}

#section-login input {
    width: 100%;
}

#section-cadastro {
    padding: 5px;
    text-align: center;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}