<header>
    <nav class="navbar bg-faded">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="inicio"><img class="img-logo" src="./assets/img/logo.png" alt="Logo"></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Olá, o que deseja?" aria-label="Search">
                <button class="lupa btn btn-sm btn-outline-secondary" type="button"><img src="./assets/img/lupa.png" alt="Pesquisar"></button>
                <button class="btn btn-outline-success" type="submit"><a routerLink="login">Login</a></button>
            </form>
        </div>
        <div id="menubar">
            <ul>
                <li><a routerLink="inicio">Home</a></li>
                <li><a routerLink="inicio">Catálogo</a></li>
                <li><a routerLink="inicio">Promoções</a></li>
                <li><a routerLink="inicio">Categoria</a></li>
            </ul>
        </div>
    </nav>
</header>