main{
    color: #fff;
    background-color: #212121;
}

/* primeira seção */

.banner-home{
    width: 100%;
    height: 450px;
}

.banner-home img{
    width: 600px;
    height: 400px;
    margin: auto;
    display: flex;
}

.banner-home .texto-menu{
    margin: 50px 0px;
    width: 100%;
}

.banner-home .texto-menu h1{
    font-size: 40px;
    width: 100%;
    margin-top: -45px;
    text-align: center;
}

.banner-home .texto-menu p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
}

/* segunda seção */

#carouselExampleCaptions{
    width: 80%;
    margin: 0 auto;
    display: table;
}

#carouselExampleCaptions img{
    width: 60%;
    height: 600px;
}

/* terceira seção */

main .card-bar{
    width: 80%;
}

main .vendidos{
    text-align: center;
}

main .vendidos h2{
    font-weight: bold;
    padding: 20px;
}

main .vendidos img{
    height: 300px;
    border-radius: 10px;
}

main .vendidos .card{
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

main .vendidos .preco{
    color: red;
    font-size: 18px;
    font-weight: bold;
}